//colors

$color_1: #5e6282;
$color_black: #000;
$color_blue: #4475f2;
$color_link: #9a9ea6;
$color_link-hover: #4737ff;
$color_title: #181e4b;
$color_white: #fff;
$color_shadow: rgba(28, 86, 231, 0.5);
$color_shadow-decor: rgba(71, 74, 87, 0.25);
