// reset
@import "./reset.scss";

// fonts
@import "../fonts/fonts";
@import "./colors";

//components
@import "./components";

// sections

@import "./header";
@import "./hero-section";
@import "./features-section";
@import "./services-section";

// colors
body {
  font-family: "Plus Jakarta Sans", sans-serif;
  color: $color_1;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;

  overflow: clip;

  & .page {
    flex-grow: 1;

    &__hero {
      margin-bottom: 10.625rem;
    }
  }
}

.page__features,
.page__services {
  margin-bottom: 12.5rem;
}

.page__features,
.page__services,
.page__hero {
  @media (max-width: 1200px) {
    & {
      margin-bottom: 6.25rem;
    }
  }
  @media (max-width: 991.98px) {
    & {
      margin-bottom: 3.75rem;
    }
  }
  @media (max-width: 767.98px) {
    & {
      margin-bottom: 2.5rem;
    }
  }
  @media (max-width: 479.98px) {
    & {
      padding-top: 2.5rem;
    }
  }
}

[class*="__container"] {
  max-width: 1230px;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  margin: 0 auto;
}

//Header
