@import url(https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:200,300,regular,500,600,700,800,200italic,300italic,italic,500italic,600italic,700italic,800italic);
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

textarea,
button,
input {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
  background-color: inherit;
}

.header-block--margin {
  margin-bottom: 5.625rem;
}
.header-block__label {
  text-transform: uppercase;
  color: #4475f2;
  font-weight: 800;
  letter-spacing: 0.125rem;
  line-height: 128%; /* 23/18 */
  font-size: 1.125rem;
}
.header-block__label:not(:last-child) {
  margin-bottom: 0.625rem;
}
.header-block__title {
  color: #000;
  font-size: 3rem;
  font-weight: 800;
  line-height: 135%; /* 65/48 */
}
@media (max-width: 1200px) {
  .header-block--margin {
    margin-bottom: 4.375rem;
  }
}
@media (max-width: 991.98px) {
  .header-block--margin {
    margin-bottom: 3.125rem;
  }
  .header-block__label {
    font-size: 1rem;
  }
  .header-block__title {
    font-size: 2.625rem;
  }
}
@media (max-width: 767.98px) {
  .header-block--margin {
    margin-bottom: 2.5rem;
  }
  .header-block__label {
    font-size: 0.875rem;
  }
  .header-block__title {
    font-size: 2.25rem;
  }
}
@media (max-width: 479.98px) {
  .header-block--margin {
    margin-bottom: 1.875rem;
  }
  .header-block__title {
    font-size: 2rem;
  }
}

/* hero section */
.hero {
  padding-top: 3.875rem;
  padding-bottom: 2.5rem;
  position: relative;
  margin-bottom: 10.625rem;
}
@media (max-width: 1200px) {
  .hero {
    margin-bottom: 6.25rem;
  }
}
@media (max-width: 991.98px) {
  .hero {
    margin-bottom: 3.75rem;
  }
}
@media (max-width: 767.98px) {
  .hero {
    margin-bottom: 2.5rem;
  }
}
@media (max-width: 479.98px) {
  .hero {
    padding-top: 2.5rem;
  }
}
.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 1200px) {
  .hero__container {
    row-gap: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.hero__container::before, .hero__container::after {
  content: "";
  position: absolute;
  background-color: #4475f2;
  -webkit-box-shadow: 0 1.875rem 3.75rem 0 rgba(71, 74, 87, 0.25);
          box-shadow: 0 1.875rem 3.75rem 0 rgba(71, 74, 87, 0.25);
  border-radius: 3.125rem;
  width: 200vw;
  height: 150%;
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
  bottom: 0;
  background-color: #4475f2;
}
.hero__container::before {
  left: calc(50% + 1.875rem);
  -webkit-transform: skewX(-20deg);
          transform: skewX(-20deg);
}
.hero__container::after {
  left: calc(50% + 27.75rem);
  -webkit-transform: skewX(31deg);
          transform: skewX(31deg);
}
.hero__container .content-hero {
  display: grid;
  -ms-flex-line-pack: start;
      align-content: start;
  gap: 1.875rem;
  position: relative;
  z-index: 2;
}
@media (min-width: 1200px) {
  .hero__container .content-hero {
    padding-right: 20px;
  }
}
@media (min-width: 479.98px) {
  .hero__container .content-hero {
    justify-items: start;
  }
}
.hero__container .content-hero__title {
  font-size: 4.75rem;
  font-weight: 800;
  color: #181e4b;
  letter-spacing: -0.25rem;
  line-height: 117.105263%; /* 89/76 */
}
@media (max-width: 991.98px) {
  .hero__container .content-hero__title {
    font-size: 3.4375rem;
  }
}
@media (max-width: 767.98px) {
  .hero__container .content-hero__title {
    font-size: 2.625rem;
  }
}
.hero__container .content-hero__title a {
  color: #4475f2;
  text-decoration: underline;
  text-shadow: 0 0 0.5rem #fff;
}
.hero__container .content-hero__title a:hover {
  text-decoration: none;
}
.hero__container .content-hero__text p {
  line-height: 187.5%; /* 30/16 */
}
.hero__container .content-hero__button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  border-radius: 0.625rem;
  background-color: #4475f2;
  padding: 1.125rem 3.375rem;
  color: #fff;
  line-height: 156.25%; /* 25/16 */
  position: relative;
  top: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.hero__container .content-hero__button:hover {
  top: 0.3125rem;
  -webkit-box-shadow: 0 1.875rem 3.75rem 0 rgba(28, 86, 231, 0.5);
          box-shadow: 0 1.875rem 3.75rem 0 rgba(28, 86, 231, 0.5);
}
.hero__container .images-hero {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1.6875rem;
}
@media (max-width: 1200px) {
  .hero__container .images-hero {
    -ms-flex-item-align: center;
        align-self: center;
  }
}
.hero__container .images-hero__item--01 {
  grid-row: span 2;
  align-self: end;
  padding-bottom: 0.625rem;
}
.hero__container .images-hero__item--03 {
  grid-row: span 2;
  align-self: center;
  justify-self: end;
}
.hero__container .images-hero__item--04 {
  grid-row: span 2;
  align-self: end;
  justify-self: end;
}
.hero__container .images-hero__image {
  border-radius: 0.625rem;
  max-width: 100%;
  -webkit-box-shadow: 0 1.875rem 3.75rem 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 1.875rem 3.75rem 0 rgba(0, 0, 0, 0.25);
}
.hero__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
.hero__images {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.features {
  margin-bottom: 12.5rem;
}
@media (max-width: 1200px) {
  .features {
    margin-bottom: 6.25rem;
  }
}
@media (max-width: 991.98px) {
  .features {
    margin-bottom: 3.75rem;
  }
}
@media (max-width: 767.98px) {
  .features {
    margin-bottom: 2.5rem;
  }
}
.features__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.25rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 991px) {
  .features__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.features__items .features__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 280px;
          flex: 0 1 280px;
  display: grid;
  gap: 1.25rem;
  justify-items: center;
  text-align: center;
}
@media (max-width: 610px) {
  .features__items .features__item {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
.features__items .features__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1.25rem;
  background-color: #4475f2;
  padding: 1.75;
  width: 6.25rem;
  height: 6.25rem;
  -webkit-box-shadow: 0 1.875rem 3.75rem 0 rgba(71, 74, 87, 0.25);
          box-shadow: 0 1.875rem 3.75rem 0 rgba(71, 74, 87, 0.25);
}
.features__items .features__title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #000;
}
.features__items .features__text {
  font-weight: 500;
  line-height: 187.5%; /* 30/16 */
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #5e6282;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: clip;
}
.wrapper .page {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 1230px;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  margin: 0 auto;
}

.header {
  padding-top: 4.8125rem;
  position: relative;
  z-index: 50;
}
@media (max-width: 479.98px) {
  .header {
    padding-top: 0.9375rem;
  }
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7.8125rem;
}
@media (max-width: 991.98px) {
  .header__container {
    gap: 1.5rem;
  }
}
@media (max-width: 479.98px) {
  .header__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.header__logo {
  font-weight: 700;
  font-size: 1.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 5rem;
          flex: 0 0 5rem;
  max-width: 100%;
  color: #000;
}
.header__logo::before {
  content: "";
  background-image: url(../img/logo.png);
  background-size: cover;
  display: inline-block;
  width: 1.75rem;
  height: 1.75rem;
  margin-right: 0.625rem;
}
@media (max-width: 479.98px) {
  .header__logo {
    font-size: 2.5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.25rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__logo::before {
    width: 5rem;
    height: 5rem;
    -webkit-box-shadow: 0 0 0.5rem #fff;
            box-shadow: 0 0 0.5rem #fff;
    border-radius: 50%;
    margin: 0;
  }
}
.header .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
  row-gap: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 991.98px) {
  .header .menu__list {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }
}
@media (max-width: 479.98px) {
  .header .menu__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.header .menu__link {
  color: #9a9ea6;
  font-size: 0.875rem;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.header .menu__link:hover {
  color: #4737ff;
}
@media (max-width: 479.98px) {
  .header .menu__link {
    font-size: 1.25rem;
  }
}